/* Mostly acquired from https://css-tricks.com/snippets/css/star-wars-crawl-text/ */

@-webkit-keyframes prelude {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes prelude {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes prelude {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes prelude {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body {
    background: #000;
    color: #fff;
    font-family: 'Archivo Narrow', sans-serif;
}

#canvas {
    position: absolute;
    z-index: 1;
    display: none;
}

#prelude {
    align-content: center;
    margin-top: 20vh;
    opacity: 0;
    color: #1B7DEB;
    margin-left: 5%;
    text-align: left;
    text-shadow: 0 0 1px #1B7DEB;
    font-size: 70px;
    animation: prelude 4s linear;
}