<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>Welcome to Story 1, and be prepared for an epic journey.</h1>
    <form action="/nav" method="POST">
        <select name="story">
            <option value="1">Mystery Story One</option>
            <option value="2">Mystery Story Two</option>
            <option value="3">Mystery Story Three</option>
            <option value="4">Mystery Story Four</option>
            <option value="5">Mystery Story Five</option>
            <option value="6">Mystery Story Six</option>
            <option value="7">Mystery Story Seven</option>
            <option value="8">Mystery Story Eight</option>
        </select>
        <input type="submit" value="select" />
    </form>

    <form action="/complete" method="POST" name="story1">
        <label for="past_verb0">past tense verb:</label>
        <input type="text" name="past_verb0" id="past_verb0" required value="run" />

        <label for="formofgovernment0">form of government:</label>
        <input type="text" name="formofgovernment0" id="formofgovernment0" required value="anarchy" />

        <label for="noun0">noun:</label>
        <input type="text" name="noun0" id="noun0" required value="class" />

        <label for="place0">place:</label>
        <input type="text" name="place0" id="place0" required value="hotel" />

        <label for="noun1">another noun:</label>
        <input type="text" name="noun1" id="noun1" required value="skyscraper" />

        <label for="plural_noun0">plural noun:</label>
        <input type="text" name="plural_noun0" id="plural_noun0" required value="moons" />

        <label for="adjective0">adjective:</label>
        <input type="text" name="adjective0" id="adjective0" required value="fun" />

        <label for="past_verb1"> another past tense verb:</label>
        <input type="text" name="past_verb1" id="past_verb1" required value="kept" />

        <label for="verbing0">verb ending in ing:</label>
        <input type="text" name="verbing0" id="verbing0" required value="recycling" />

        <label for="adjective1">another adjective:</label>
        <input type="text" name="adjective1" id="adjective1" required value="hedonistic" />

        <label for="noun2">another noun:</label>
        <input type="text" name="noun2" id="noun2" required value="person" />

        <label for="adverb0">adverb:</label>
        <input type="text" name="adverb0" id="adverb0" required value="smoothly" />

        <label for="adjective2">another adjective:</label>
        <input type="text" name="adjective2" id="adjective2" required value="passive" />

        <label for="superlative0">superlative adjective:</label>
        <input type="text" name="superlative0" id="superlative0" required value="kindest" />

        <label for="authority_figure0">type of authority figure:</label>
        <input type="text" name="authority_figure0" id="authority_figure0" required value="school principal" />

        <label for="adverb1">another adverb:</label>
        <input type="text" name="adverb1" id="adverb1" required value="quickly" />

        <label for="adjective3">another adjective:</label>
        <input type="text" name="adjective3" id="adjective3" required value="brownish" />

        <label for="noun3">another noun:</label>
        <input type="text" name="noun3" id="noun3" required value="heathen" />

        <label for="noun4">another noun:</label>
        <input type="text" name="noun4" id="noun4" required value="face" />

        <label for="noun5">another noun:</label>
        <input type="text" name="noun5" id="noun5" required value="noun" />

        <label for="proper_name0">proper name:</label>
        <input type="text" name="proper_name0" id="proper_name0" required value="Audi" />

        <input type="submit" value="ENTER" />
    </form>
</body>

</html>