<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Welcome -->
    <h1>Welcome to Story Luke, and be prepared for an epic journey.</h1>
    <!-- Selects story -->
    <form action="/nav" method="POST">
        <select name="story">
            <option value="1">Mystery Story One</option>
            <option value="2">Mystery Story Two</option>
            <option value="3">Mystery Story Three</option>
            <option value="4">Mystery Story Four</option>
            <option value="5">Mystery Story Five</option>
            <option value="6">Mystery Story Six</option>
            <option value="7" selected>Mystery Story Seven</option>
            <option value="8">Mystery Story Eight</option>
        </select>
        <input type="submit" value="select" />
    </form>

    <!-- User inputs; reroutes to /complete which generates a url based on story number and saves inputs for story -->
    <form action="/complete" method="POST" name="story1">
        <input type="submit" value="ENTER" />
    </form>
</body>

</html>