<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>Welcome to Story 6, and be prepared for an epic journey.</h1>
    <form action="/nav" method="POST">
        <select name="story">
            <option value="1">Mystery Story One</option>
            <option value="2">Mystery Story Two</option>
            <option value="3">Mystery Story Three</option>
            <option value="4">Mystery Story Four</option>
            <option value="5">Mystery Story Five</option>
            <option value="6">Mystery Story Six</option>
            <option value="7">Mystery Story Seven</option>
            <option value="8">Mystery Story Eight</option>
        </select>
        <input type="submit" value="select" />


    </form>
</body>

</html>