<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Welcome -->
    <h1>Welcome to Story 2, and be prepared for an epic journey.</h1>
    <!-- Selects story -->
    <form action="/nav" method="POST">
        <select name="story">
            <option value="1">Mystery Story One</option>
            <option value="2" selected>Mystery Story Two</option>
            <option value="3">Mystery Story Three</option>
            <option value="4">Mystery Story Four</option>
            <option value="5">Mystery Story Five</option>
            <option value="6">Mystery Story Six</option>
            <option value="7">Mystery Story Seven</option>
            <option value="8">Mystery Story Eight</option>
        </select>
        <input type="submit" value="select" />
    </form>

    <!-- User inputs; reroutes to /complete which generates a url based on story number and saves inputs for story -->
    <form action="/complete" method="POST" name="story1">
        <label for="noun0">noun:</label>
        <input type="text" name="noun0" id="noun0" required value="noun" />

        <label for="past_verb">past tense verb:</label>
        <input type="text" name="past_verb" id="past_verb" required value="killed" />

        <label for="plural_noun">plural noun:</label>
        <input type="text" name="plural_noun" id="plural_noun" required value="icees" />

        <label for="adjective0">adjective:</label>
        <input type="text" name="adjective0" id="adjective0" required value="round" />

        <label for="title">person's title/honorific:</label>
        <input type="text" name="title" id="title" required value="Misses" />

        <label for="proper_name">proper name:</label>
        <input type="text" name="proper_name" id="proper_name" required value="San Francisco" />

        <label for="noun1">noun:</label>
        <input type="text" name="noun1" id="noun1" required value="last name" />

        <label for="noun2">noun:</label>
        <input type="text" name="noun2" id="noun2" required value="value" />

        <label for="noun3">noun:</label>
        <input type="text" name="noun3" id="noun3" required value="nose" />

        <label for="adjective1">noun:</label>
        <input type="text" name="adjective1" id="adjective1" required value="caption" />

        <input type="submit" value="ENTER" />
    </form>
</body>

</html>