<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">
</head>

<body>
    <div class="fade"></div>

    <section class="star-wars">
        <audio src="../static/themerest.m4a" autoplay></audio>
        <div class="crawl">
            <div class="title">
                <p>Episode VIII</p>
                <h1>The Last Jedi</h1>
            </div>
            <p>
                Only General Leia Organa’s band of RESISTANCE fighters stand against the rising tyranny, certain that Jedi Master Luke Skywalker will return and restore a spark of hope to the fight. “But the Resistance has been exposed. As the First Order speeds toward
                the rebel base, the brave heroes mount a desperate escape...
            </p>
        </div>

    </section>
</body>

</html>