<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">
</head>

<body>
    <div class="fade"></div>

    <section class="star-wars">
        <audio src="../static/themerest.m4a" autoplay></audio>
        <div class="crawl">
            <div class="title">
                <p>Episode I</p>
                <h1>The Beginning of the Skywalker</h1>
            </div>
            <p>
                A long time ago in a galaxy Verbalakk, there was two siblings: Kenny Skywalker and Jessica Skywalker. They were off to find the greatest warrior ever: Sadie Yoda.
            </p>
            <p>
                Sadie Yoda said, "you want to be a jedi, hmm? For 8000 years, I've been trying to die but I guess this will take up my patience."
            </p>
            <p>
                It's been 35 years. Yoda said "you are finally a jedi."
            </p>
            <p>
                Kylo Logan appeared. He said "you must run. Run and never return." Kenny said "Never!"
            </p>
            <p>
                Kenny used the force and destroyed their ship. Then, Tiago Palpatine went and electrocuted the ship and went into power. And Kylo turned good because of Kenny's heart. Logan Kylo and Megan Rey went and defeated Tiago Palpatine with every rebel. 
            </p>
            <p>
                They all celebrated with a big party. 
            </p>
            <p>
                The end.
            </p>
        </div>

    </section>
</body>

</html>