<!DOCTYPE html>
<html>

<head>
    <title>WELCOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">
</head>

<body>
    <div class="fade"></div>

    <section class="star-wars">
        <audio src="../static/themerest.m4a" autoplay></audio>
        <div class="crawl">
            <div class="title">
                <p>Episode I</p>
                <h1>The First Jedi Who Ever Lived</h1>
            </div>
            <p>
                There were two siblings. Logan Skywalker and Luke Yoda. Then they had a big war. Logan Skywalker died, but Yoda healed him and they lived happily ever after.
            </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>
                BUT THEN they had a super big war. It was bigger that Logan Skywalker had to leave, but Luke Yoda had to hold him off, but then they came back. Then they saw Yoda. Dead.
            </p>
            <p>
                They were crying so much, then they left. Then they went to a cave. They found a baby in it. It looked just like Yoda, but they named him...
            </p>
            <p>
                BABY YODA! But then they had some wars, but they made it through all the time on the wars. Then they had to give Baby Yoda to someone else because they didn't have enough money to feed him.
            </p>
            <p>
                But then they found, in a cave, Luke Chewbacca. Then they let Luke Chewbacca join them on their journey.
            </p>
            <p>
                They found a house and lived in it for a while. Then Logan Skywalker went hunting. Then he got something, but he didn't kill it yet. 
            </p>
            <p>
                BECAUSE IT LOOKED EXACTLY LIKE BABY YODA. Then they're like, "how did you escape!? we gave you to someone."
            </p> 
            <p>
                "I escaped from the backyard because I missed you guys. And here we are. Now we're together. YIPPEE!"
            </p>
            <p>
                "Now let me join you on our journey." Then they lived happily ever after. Baby Yoda said, "thank you! Yippee."
            </p>
            <p>
                The End. - by Logan, the famous author
            </p>
        </div>

    </section>
</body>

</html>